.rota-card {
    padding: 74px 45px 133px 50px;
    width: 479px;
}

.rota-card-title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 65px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
