.rota-container {
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
    width: 1400px;
    height: 956px;

 }

 .rota-content {
    margin-left: 388px;
    margin-right: 116px;
 }
 
 .text-title {
     margin-top: 41px;
     margin-left: 97px;
     font-size: 48px;
     line-height: 65px;
     letter-spacing: -0.015em;
 }
 
 .text-subtitle {
     font-size: 22px;
     line-height: 30px;
     letter-spacing: -0.015em;
     margin-left: 97px;
     margin-bottom: 51px;
     margin-top: 19px;
 
     color: #F2F2F2;
 }

 .main-image {
     margin-left: 70px;
 }