

.btn-login {
    width: 384px;
    height: 65px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    background: #FFC700;
    border-radius: 4px;
    
    color: #000000;

}

