.main-nav {
    display: flex;
    height: 68px;
    color: #000000;
    margin-right: 0;
    width: 100%;
}

.navbar-text {
    padding-top: 18px;
    margin-left: 40px;
}

.nav-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1140px;
    margin-right: 140px;
}