.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,260px);
    grid: grap 30px;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: space-between;
}


.OutBtn-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.container-paginacao {
    margin-left: 140px;
}