.default-button {
    display: flex;
}

.btn-icon {
    width: 97px;
    height: 30px;
    background: #FFC700;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    padding: 4px 7px 4px 7px;
}